*__pycache__
__pycache__/ui.cpython-39.pyc
*.idea
.idea/PingQT.iml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.DS_Store
